In [ ]:
c(1:3)

In [7]:
# functions
## strings
#grepl(x,y) 
#grepl(x,y) 

## example of grepl & grep
#The emails vector has already been defined for you
emails <- c("john.doe@ivyleague.edu", "education@world.gov", "dalai.lama@peace.org",
            "invalid.edu", "quant@bigdatacollege.edu", "cookie.monster@sesame.tv")

#Use grepl() to match for "edu"
grepl("edu",emails)
grep("edu",emails)
hits=grep("edu",emails)
c(emails[hits])

#sub(x,y,z) only the first outcome
#gsub(x,y,z)

## example of sub & gsub
#The emails vector has already been defined for you
emails <- c("john.doe@ivyleague.edu", "education@world.gov", "global@peace.org",
            "invalid.edu", "quant@bigdatacollege.edu", "cookie.monster@sesame.tv")

#Use sub() to convert the email domains to datacamp.edu
sub("@.*\\.edu$","@datacamp.edu",emails)
gsub("@.*\\.edu$","@datacamp.edu",emails)

[1]  TRUE  TRUE FALSE  TRUE  TRUE FALSE

[1] 1 2 4 5

[1] "john.doe@ivyleague.edu"   "education@world.gov"
[3] "invalid.edu"              "quant@bigdatacollege.edu"

[1] "john.doe@datacamp.edu"    "education@world.gov"
[3] "global@peace.org"         "invalid.edu"
[5] "quant@datacamp.edu"       "cookie.monster@sesame.tv"

[1] "john.doe@datacamp.edu"    "education@world.gov"
[3] "global@peace.org"         "invalid.edu"
[5] "quant@datacamp.edu"       "cookie.monster@sesame.tv"

In [ ]:
# Arguments of date,time
%H: hours as a decimal number (00-23)
%I: hours as a decimal number (01-12)
%M: minutes as a decimal number
%S: seconds as a decimal number
%T: shorthand notation for the typical format %H:%M:%S
%p: AM/PM indicator
%Y: 4-digit year (1982)
%y: 2-digit year (82)
%m: 2-digit month (01)
%d: 2-digit day of the month (13)
%A: weekday (Wednesday)
%a: abbreviated weekday (Wed)
%B: month (January)
%b: abbreviated month (Jan)
# of strings
.*: A usual suspect! It can be read as "any character that is matched zero or more times".
\\s: Match a space. The "s" is normally a character, escaping it (\\) makes it a metacharacter.
[0-9]+: Match the numbers 0 to 9, at least once (+).
([0-9]+): The parentheses are used to make parts of the matching string available to define the replacement. The \\1 in the replacement argument of sub() gets set to the string that is captured by the regular expression [0-9]+.
# Examples of strings
awards <- c("Won 1 Oscar.",
  "Won 1 Oscar. Another 9 wins & 24 nominations.",
  "1 win and 2 nominations.",
  "2 wins & 3 nominations.",
  "Nominated for 2 Golden Globes. 1 more win & 2 nominations.",
  "4 wins & 1 nomination.")

sub(".*\\s([0-9]+)\\snomination.*$", "\\1", awards)

In [2]:
#datacamp
#Ch1-introduction of R

In [15]:
#loop function-For
x=c(1:10)
for(num in x){
    triple=3*num
    print(triple)
}

[1] 3
[1] 6
[1] 9
[1] 12
[1] 15
[1] 18
[1] 21
[1] 24
[1] 27
[1] 30

In [17]:
#loop function-While
x=3
while(x<8){
    print(x)
    if(x==5){
        print("Stop!")
        break
    }
    x=x+1
    }

[1] 3
[1] 4
[1] 5
[1] "Stop!"

In [10]:
#lapply/sapply/vapply
#output of lapply is a list
tri=function(x){
    3*x
}
lapply(x,tri)

[[1]]
[1] 3

[[2]]
[1] 6

[[3]]
[1] 9

[[4]]
[1] 12

[[5]]
[1] 15

[[6]]
[1] 18

[[7]]
[1] 21

[[8]]
[1] 24

[[9]]
[1] 27

[[10]]
[1] 30